@{
    ViewData["Title"] = "_ZapatillaPartial";
}

@model Imagen

@{
    Zapatilla zapatilla = ViewData["ZAPATILLASELECCIONADA"] as Zapatilla;
}

<h1>Imagen @ViewData["POSICION"] de @ViewData["ULTIMO"]</h1>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <button class="btn btn-dark" onclick="loadZapatillaPaginacion(1)" id="primero">
            Primero
        </button>
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark" onclick="loadZapatillaPaginacion(@ViewData["ANTERIOR"])" id="anterior">
            Anterior
        </button>
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark" onclick="loadZapatillaPaginacion(@ViewData["SIGUIENTE"])" id="siguiente">
            Siguiente
        </button>
    </li>
    <li class="list-group-item">
        <button class="btn btn-dark" onclick="loadZapatillaPaginacion(@ViewData["ULTIMO"])" id="ultimo">
            Ultimo
        </button>
    </li>
</ul>

<div class="bg-secondary text-center" id="cajaimagen">
    <img src='@Model.ImagenZapatilla' style="width:250px" />
</div>