@model Zapatilla

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle Zapatilla</h1>
<a asp-action="List">Volver</a>


<div>
    <h4>Zapatilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            IdProducto
        </dt>
        <dd class = "col-sm-10">
            @Model.IdProducto
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Model.Nombre
        </dd>
        <dt class = "col-sm-2">
            Descripcion
        </dt>
        <dd class = "col-sm-10">
            @Model.Descripcion
        </dd>
        <dt class = "col-sm-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Model.Precio
        </dd>
    </dl>
</div>
<div>
@*     <a asp-action="ImagenesZapatilla" asp-route-idzapatilla="@Model.IdProducto"
    class="btn btn-warning">Imagenes de zapatilla</a> *@

</div>
